*{
    background-color:#141D26;
    color: white;
}
label.css-k3w14i.effi0qh3{
    font-size: medium;
    font-weight: bold;
}
span.css-10trblm.e16nr0p30{
    top: -20px;
}
div.stButton > button:first-child {
    background-color: rgb(179, 174, 174);
}
h3{
    left: -100px;
    top:-100px;
}
